<%- layout('./layout/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate class="validated-form" enctype="multipart/form-data">  
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="campground[title]" id="title" class="form-control" value="<%= campground.title %>" required>
                <div class="invalid-feedback">
                    Title is required
                </div>
                <div class="valid-feedback">
                    Looks good
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="campground[location]" id="location" class="form-control" value="<%= campground.location %>" required>
                <div class="invalid-feedback">
                    Location is required
                </div>
                <div class="valid-feedback">
                    Looks good
                </div>
            </div>
           
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="campground[price]" id="price" value="<%= campground.price %>" required>
                    <div class="invalid-feedback">
                        Price is required
                    </div>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="campground[description]" id="description" class="form-control" required><%= campground.description %></textarea>
                <div class="invalid-feedback">
                    Description is required
                </div>
                <div class="valid-feedback">
                    Looks good
                </div>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add Images</label>
                <input class="form-control" type="file" id="formFileMultiple" name="image" accept="image/*" multiple  >
                <div class="invalid-feedback">
                    Please upload at least one image
                </div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach((img,i) => { %>
                    <img src="<%= img.thumbnail %>" alt="<%= img.filename %>" class="img-fluid">
                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox"  id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                        <label class="form-check-label" for="image-<%= i %>">Delete</label>
                    </div>
                <% }) %>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        <a href="/campgrounds" class="btn btn-secondary">Back to Campgrounds</a>
    </div>
</div>
<script>     
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>