<%- layout('./layout/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate class="validated-form">  
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="campground[title]" class="form-control" value="<%= campground.title %>" required>
            <div class="invalid-feedback">
                Title is required
            </div>
            <div class="valid-feedback">
                Looks good
            </div>
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" id="campground[location]" class="form-control" value="<%= campground.location %>" required>
            <div class="invalid-feedback">
                Location is required
            </div>
            <div class="valid-feedback">
                Looks good
            </div>
            <label for="image" class="form-label">Image URL</label>
            <input type="text" name="image" id="campground[image]" class="form-control" value="<%= campground.image %>" required>
            <div class="invalid-feedback">
                Image URL is required
            </div>
            <div class="valid-feedback">
                Looks good
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" aria-label="price" name="price" id="campground[price]" value="<%= campground.price %>" required>
                </div>
                <div class="invalid-feedback">
                    Price is required
                </div>
                <div class="valid-feedback">
                    Looks good
                </div>
            </div>
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="campground[description]" class="form-control" required><%= campground.description %></textarea>
            <div class="invalid-feedback">
                Description is required
            </div>
            <div class="valid-feedback">
                Looks good
            </div>
            <button type="submit" class="btn btn-success my-3">Submit</button>
        </form>
        <a href="/campgrounds" class="btn btn-secondary">Back to Campgrounds</a>
    </div>
</div>
<script>     
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>