<%- layout('./layout/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" >
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="campground[title]" class="form-control" value="<%= campground.title %>">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" id="campground[location]" class="form-control" value="<%= campground.location %>">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" name="image" id="campground[image]" class="form-control" value="<%= campground.image %>">
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" aria-label="price" name="price" id="campground[price]" value="<%= campground.price %>">
                </div>
            </div>
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="campground[description]" class="form-control mb-3"><%= campground.description %></textarea>
            
            <button type="submit" class="btn btn-success my-3">Submit</button>
        </form>
        <a href="/campgrounds" class="btn btn-secondary">Back to Campgrounds</a>
    </div>
</div>